/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    /*background: #3e7591ec;*/
    background: #3e7591ec;
}

/* Estilos de header */
/**/
header {
    /*el ancho del contenedor, respecto al contenedor padre, en este caso body*/
    width: 95%;
    /*color de fondo*/
    background: white;
    /*espacio hacia afuera con otros elementos*/
    margin: 20px;
    /*color del texto*/
    color: rgb(139, 24, 24);


    /*usarlo como un contenedor de rejilla y poder usar propiedades de grid*/
    display: grid;
    /*definir el numero de columnas, decimos 2 columnas y cada una ocupa 1parte del total*/
    grid-template-columns: repeat(2, 1fr);
    /*definir el numero de filas*/
    grid-template-rows: 1fr 0.1fr;
    /*alinear horizontalmente*/
    justify-content: space-between;
    /*alinear verticalmente
    align-items: ;*/


    border: 3px solid black;
}

.nombreEmpresa {
    font-size: 24px;
    text-align: left;
    border: 3px solid black;
}

.header-icons {
    border: 3px solid black;
    display: grid;
    justify-content: end;
    align-items: end;
    padding-right: 3%;
}

.header-icons img {
    width: 30px;
    margin-left: 10px;

}

.icons {
    border: 3px solid black;
}

.logo {
    border: 3px solid rgb(151, 23, 104);
    margin: 5px;
}

/* cambiar imagen por texto, pero no me funciona
#zona_privada{
    display:inline-block;
    position:relative;
}

#zona_privada > div{
    position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

#private:hover{
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;    
}
*/

/* Estilos de navegación */

nav {
    text-align: center;
    background-color: #555;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 1.08;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}



/* Estilos de contenido */

.contenido {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    padding: 20px;
}

.familia-productos {
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

.familia_producto {
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid black;
    display: flex;
    /*para que no desborde si se hace mas pequeña la pestaña, se van haciendo mas pequeñas*/
    flex-wrap: nowrap;
}

/*pasar el raton por encima de las familias*/
.seccion:hover {
    background-color: #dbeaf4;
    cursor: pointer;
}

.familia {
    width: 10%;
    height: 60%;
}

.seccion p {
    width: 10%;
    border: 3px solid black;
    letter-spacing: 7px;
}

.mas-vendidos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid black;

}

.mas-vendidos1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid black;
}

.imagen_descripcion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid black;
}

.mas-vendidos1 img {
    width: 26%;
}

.container-table {
    width: 90%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    height: 100%;
}

.table__header {
    font-weight: bold;
    display: grid;
    align-items: center;
}

.table__item {
    display: grid;
    align-items: center;
}

.header_table2 {
    width: 90%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 15px;
    
}

.container-table2 .table__item{
    display: grid;
    align-items: center;
}

.container-table2 img{
    width: 56%;    
}

span{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow:5px 5px 10px black;
    margin: 20px;
}

span:nth-child(2n + 1) {
    box-shadow:10px 10px 10px red;
}

.democlick3 {
    display: none;
}

:checked~.democlick3 {
    display: block;
}

input.oculto[type=checkbox] {
    position: absolute;
    left: -999em;
}

.mas-vendidos2 {
    /* Estilos de productos más vendidos */
    border: 3px solid black;
}

.zona-informativa {
    /* Estilos de zona informativa */
}








/* Estilos de footer */

footer {
    /*background-color: #333;*/
    background-image: url("../img/suelo_azul.jpeg");
    padding: 35px;
    color: white;

}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin: 3px;
}

.copyright {
    padding: 12px;
}

.footer-links a:hover {
    text-decoration: underline;
    color: orange;
    font-weight: bold;
    opacity: 1.08;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}


/* Media query para dispositivos menores a 768px */
@media (max-width: 768px) {
    /* Estilos específicos para dispositivos móviles */
}